.center {
    text-align: center;
    list-style-position: inside;
    width: 100%;
}

form {
    text-align: center;
}

body{
    background-image: url(wp4946099.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
} 

.container {
    max-width: 500px;
    margin: 3% auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.808);
}

input[type="submit"],
input[type="reset"] 
{
    font-size: 125%;
}

.group {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid  #f10808;
}

th, td {
    border: 1px solid #f10808;
    padding: 8px;
}

.centered {
    text-align: center;
}
